# Bank Marketing 

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.

In [71]:
# Load required packages for Data analysis
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.tree import DecisionTreeClassifier

In [29]:
main_data = pd.read_csv("bank-additional-full.csv",sep=';')

In [30]:
print("Number of columns: {}".format(len(main_data.columns)))

Number of columns: 21

In [31]:
main_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [20]:
main_data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [22]:
main_data.job.value_counts()
#Most of the people do admin jobs

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [24]:
main_data.marital.value_counts(normalize=True)
#We have majorly married customers

married     0.605225
single      0.280859
divorced    0.111974
unknown     0.001942
Name: marital, dtype: float64

In [26]:
main_data.education.value_counts(normalize=True)
# We have majorly university degree

university.degree      0.295426
high.school            0.231014
basic.9y               0.146766
professional.course    0.127294
basic.4y               0.101389
basic.6y               0.055647
unknown                0.042027
illiterate             0.000437
Name: education, dtype: float64

In [32]:
main_data.default.value_counts(normalize=True)
# we have very less percent of credit defaulters and majority of customers are on payers

no         0.791201
unknown    0.208726
yes        0.000073
Name: default, dtype: float64

In [34]:
main_data.housing.value_counts(normalize=True)
#more than half of the customers have hosuing loan

yes        0.523842
no         0.452122
unknown    0.024036
Name: housing, dtype: float64

In [36]:
main_data.loan.value_counts(normalize=True)
#Majority of the people have not opted for personal loan

no         0.824269
yes        0.151695
unknown    0.024036
Name: loan, dtype: float64

In [38]:
main_data.contact.value_counts()
#Bank is connecting to the customers majorly on cellular phone

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [39]:
main_data.month.value_counts()
#Bank contacted most of the customers in the month of May and very less in the month of December

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [40]:
main_data.day_of_week.value_counts()
#As bank is able to reach customers almost all the days of the week but majorly thursday they are reaching maximum number of customers

thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64

In [51]:
pd.crosstab(main_data.y,main_data.duration)
#I assume that customers whose call duration is high have more likely chances of subscription

duration,0,1,2,3,4,5,6,7,8,9,...,3284,3322,3366,3422,3509,3631,3643,3785,4199,4918
y,,,,,,,,,,,,,,,,,,,,,
no,4,3,1,3,12,30,37,54,69,77,...,1,1,1,1,1,0,0,1,0,1
yes,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0

In [57]:
main_data.campaign.value_counts()
#main_data.campaign.head()
# So we contacted maximum number of customers on first campaign and count is gradually coming down with further campaigns

1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
15       51
16       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
25        8
26        8
28        8
30        7
31        7
35        5
33        4
32        4
34        3
40        2
42        2
43        2
37        1
39        1
41        1
56        1
Name: campaign, dtype: int64

In [58]:
main_data.pdays.value_counts()
# We have many customers whom we never contacted

999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
19         3
22         3
21         2
26         1
20         1
25         1
27         1
Name: pdays, dtype: int64

In [59]:
main_data.previous.value_counts()
# As we have majority of customers who never participated in any of the campaign

0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: previous, dtype: int64

In [60]:
main_data.poutcome.value_counts()
# We have more failures in campaigns than success rate and majority of them are nonexistent

nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [69]:
main_data.rename(columns={'emp.var.rate': 'emp_var_rate', 'cons.price.idx':'cons_price_idx',
'cons.conf.idx' : 'cons_conf_idx','nr.employed' : 'nr_employed'}, inplace=True)

In [65]:
main_data.emp_var_rate.value_counts()
# employement variation rate

 1.4    16234
-1.8     9184
 1.1     7763
-0.1     3683
-2.9     1663
-3.4     1071
-1.7      773
-1.1      635
-3.0      172
-0.2       10
Name: emp_var_rate, dtype: int64

In [66]:
main_data.cons_price_idx.value_counts()
# Consumer price index is high with majority of the customers

93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: cons_price_idx, dtype: int64

In [67]:
main_data.cons_price_idx.value_counts()
#consumer confidence index

93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: cons_price_idx, dtype: int64

In [68]:
main_data.euribor3m.value_counts()
# it's a three month rate

4.857    2868
4.962    2613
4.963    2487
4.961    1902
4.856    1210
4.964    1175
1.405    1169
4.965    1071
4.864    1044
4.960    1013
4.968     992
4.959     895
4.860     892
4.855     840
4.076     822
1.266     820
4.859     788
4.120     756
4.858     733
4.153     690
4.021     676
4.967     643
1.281     637
4.966     622
4.191     610
1.250     587
4.958     581
1.291     544
1.327     538
4.957     537
         ...
4.474       3
0.894       3
0.944       3
1.778       3
4.921       3
0.927       2
0.953       2
0.937       2
0.749       2
0.921       2
3.879       2
4.733       2
3.563       2
1.574       1
0.956       1
3.282       1
0.996       1
3.488       1
3.816       1
3.329       1
3.901       1
0.933       1
3.743       1
0.969       1
3.669       1
1.045       1
3.853       1
1.047       1
3.053       1
3.428       1
Name: euribor3m, dtype: int64

In [70]:
main_data.nr_employed.value_counts()
#This gives us no.of employees quaterly employed

5228.1    16234
5099.1     8534
5191.0     7763
5195.8     3683
5076.2     1663
5017.5     1071
4991.6      773
5008.7      650
4963.6      635
5023.5      172
5176.3       10
Name: nr_employed, dtype: int64

In [72]:
data = main_data

In [73]:
data.columns
for i in data.columns:
    if data[i].dtype == 'object':
        le.fit(data[i])
        data[i] = le.transform(data[i])

In [74]:
data.columns

Index([u'age', u'job', u'marital', u'education', u'default', u'housing',
       u'loan', u'contact', u'month', u'day_of_week', u'duration', u'campaign',
       u'pdays', u'previous', u'poutcome', u'emp_var_rate', u'cons_price_idx',
       u'cons_conf_idx', u'euribor3m', u'nr_employed', u'y'],
      dtype='object')

In [110]:
X = data[['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign',
        'pdays','poutcome','cons_price_idx',
       'cons_conf_idx','euribor3m','nr_employed']]
y = data.y
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [153]:
# max_depth can be controlled for pruning
model = DecisionTreeClassifier(criterion = 'entropy',min_samples_split=20, max_depth=9)
model = model.fit(X_train,y_train)
print(model)
Y_test = model.predict(X_test)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=9,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=20, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [154]:
import pickle
with open('DecisionTrees.pickle','wb') as f:
    pickle.dump(model,f)

In [155]:
pickle_in = open('DecisionTrees.pickle','rb')
model = pickle.load(pickle_in)

In [156]:
print(pd.DataFrame(model.feature_importances_,columns = ['Importance'],index = X_train.columns))
#Duration of the call and no.of customers quaterly employeed are two most significant variables for our model prediction

                Importance
age               0.020919
job               0.006715
marital           0.001895
education         0.007085
default           0.001904
housing           0.002178
loan              0.000761
contact           0.002139
month             0.021813
day_of_week       0.015086
duration          0.467882
campaign          0.007742
pdays             0.025303
poutcome          0.002754
cons_price_idx    0.015601
cons_conf_idx     0.078739
euribor3m         0.058388
nr_employed       0.263096

In [157]:
from sklearn import metrics
# Confusion Matrix
print(metrics.confusion_matrix(y_test, Y_test))
print(metrics.classification_report(y_test, Y_test))
print(metrics.accuracy_score(y_test, Y_test))

[[7038  281]
 [ 403  516]]
             precision    recall  f1-score   support

          0       0.95      0.96      0.95      7319
          1       0.65      0.56      0.60       919

avg / total       0.91      0.92      0.91      8238

0.916970138383

In [158]:
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error, r2_score, jaccard_similarity_score, roc_auc_score

#ev = explained_variance_score(y_test, Y_test, multioutput='uniform_average')
# Best possible score is 1.0, lower values are worse.
#print("Explained Variance Score: {}". format(ev))

mae = mean_absolute_error(y_test, Y_test, multioutput='uniform_average')
# MAE output is non-negative floating point. The best value is 0.0.
print("Mean Absolute Error: {}".format(mae))

mse = mean_squared_error(y_test, Y_test, multioutput='uniform_average')
# MAE output is non-negative floating point. The best value is 0.0.
print("Mean Squared Error: {}".format(mse))

r2 = r2_score(y_test, Y_test)
# R^2 (coefficient of determination) regression score function.
# Best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse). A constant model that always 
# predicts the expected value of y, disregarding the input features, would get a R^2 score of 0.0.
print("R - Squared value: {}".format(r2))

print('What percent of predictions are same: {}'.format(jaccard_similarity_score(y_test, Y_test)))

Mean Absolute Error: 0.0830298616169
Mean Squared Error: 0.0830298616169
R - Squared value: 0.162257341149
What percent of predictions are same: 0.916970138383